.container {
  max-width: 1100px;
  margin: 18px auto;
  padding: 0 20px 60px 20px;
}

.layout-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

@media (max-width: 900px) {
  .layout-two {
    grid-template-columns: 1fr;
  }
}
